
.cta-whatsapp-wrapper
{
	position: fixed;
	z-index: 2147483647;
	bottom:20px;
	left: 30px;
	cursor: pointer;
    line-height: 70px;
    width: 70px;
    background-color: #00a82d;
    text-align: center;
    height: 70px;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
	border-radius: 50%;

}

.cta-whatsapp-wrapper a{
    background-color: #00a82d;
    font-size:28px ;
	color: #fff !important;

}
@media only screen and (max-width: 768px){
.cta-whatsapp-wrapper
{    height: 60px;
    width: 60px;
    left: 20px;
    bottom: 17px;
    cursor: pointer;
    line-height: 60px;
    text-align: center;

}}
@media only screen and (max-width: 425px){
    .cta-whatsapp-wrapper
    {
        right: 30px;
        bottom: 20px;
    }}
    @media only screen and (max-width: 375px){
        .cta-whatsapp-wrapper
        {
            left: 20px;
            bottom: 18px;
        }}
        @media only screen and (max-width: 325px){
            .cta-whatsapp-wrapper
            {
                right: 30px;
                bottom: 18px;
            }}