/*----font google----*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

/*-----variablecss----*/

 :root {
    --first-color: #00a82d;
    --first-color-dark: #0f5c23;
    --first-color-light: #68d179;
    --first-color-lighen: #f2f2f2;
    --body-font: 'open sans', sans-serif;
    --h1-font-size: 1.5rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
}

@media screen and(min-width:768px) {
     :root {
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }
}

 ::before,
 ::after,
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: #111;
}

h1 {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}


/*----login---*/

.login {
    display: grid;
    grid-template-columns: 100%;
    height: 100vh;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.login--content {
    display: grid;
}

.login--img {
    justify-self: center;
}

.login--img img {
    width: 310px;
    margin-top: 1.5rem;
}

.login--forms {
    position: relative;
    height: 368px;
}

.login--register,
.login--create {
    width: 100%;
    background-color: var(--first-color-lighen);
    padding: 2rem 1rem;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 77, 26, 0.2);
    animation-duration: .4s;
    animation-name: animate-login;
}

@keyframes animate-login {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.1, 1.1);
    }
    100% {
        transform: scale(1, 1);
    }
}

.login--title {
    margin-bottom: 2rem;
}

.login--box {
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: .5rem;
    padding: 1.125rem 1rem;
    background-color: #ffffff;
    margin-top: 1rem;
    border-radius: .5rem;
}

.login-icon {
    font-size: 1.5rem;
    color: #00a82d;
}

.login--input {
    border: none;
    outline: none;
    font-size: var(--normal-font-size);
    font-weight: 700;
    color: #0f5c23;
}

.login--input::placeholder {
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
    columns: #68d179;
}

.login--forgot {
    display: block;
    width: max-content;
    margin-left: auto;
    margin-top: .5rem;
    font-size: var(--small-font-size);
    font-weight: 600;
    color: #68d179;
}

.login--button {
    display: block;
    padding: 1rem;
    margin: 2rem 0;
    background-color: #00a82d;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    border-radius: .5rem;
    transition: .3s;
}

.login--button::hover {
    background-color: #0f5c23;
}

.login--account,
.login--signin,
.login--signup {
    font-weight: 600;
    font-size: var(--small-font-size);
}

.login--account {
    color: #0f5c23;
}

.login--signin,
.login--signup {
    color: #00a82d;
    cursor: pointer;
}

.login--social {
    margin-top: 2rem;
}

.login--social-icon {
    font-size: 1.5rem;
    color: #0f5c23;
    margin: 0 1.5rem;
}


/*----show login-----*/

.block {
    display: block;
}


/*---hidden login----*/

.none {
    display: none;
}

@media screen and (min-width:576px) {
    .login--forms {
        width: 348px;
        justify-self: center;
    }
}

@media screen and (min-width:1024px) {
    .login {
        height: 100vh;
        overflow: hidden;
    }
    .login--content {
        grid-template-columns: repeat(2, max-content);
        justify-content: center;
        align-items: center;
        /* margin-left: 10rem; */
    }
    .login--img {
        display: flex;
        width: 700px;
        height: 588px;
        background-color: #fff;
        border-radius: 1rem;
    }
    .login--img img {
        width: 700px;
        margin-top: 0;
    }
    /* .login--register,
    .login--create {
        left: -11rem;
    } */
    .login--register {
        bottom: -2rem;
    }
    .login--create {
        bottom: -5.5rem;
    }
    .login--forms {
        width: 348px;
        height: 450px;
        justify-self: center;
        margin-right: 150px;
    }
}